<div>
  <%= form_with url: "/video_games/#{@video_game.id}", method: :patch, local: true do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %><br>
    <%= form.label :rating %>
    <%= form.text_field :rating, style: "width: 25%"%><br>
    <%= form.label :price %>
    <%= form.number_field :price, style: "width: 20%" %><br>
    <%= form.label :multiplayer %>
    <%= form.check_box :multiplayer %><br>
    <%= form.submit "Update Game" %>
  <% end %>
</div>
