<a href="/video_games/">Video Game Index</a>
<a href="/game_shops/">Game Shop Index</a>

<h1 class="game-shop-header">All Video Games</h1>

<% @video_games.each do |game| %>
  <section id="video-game-<%= game.id %>">
    <h1>
      <a href="/video_games/<%= game.id %>"><%= game.name %></a>
    </h1>
    <p>ID: <%= game.id %></p>
    <p>Rating: <%= game.rating %></p>
    <p>Price: <%= game.price %></p>
    <p>Multiplayer: <%= game.multiplayer %></p>
    <p>Created at: <%= game.created_at %></p>
    <p>Updated at: <%= game.updated_at %></p>
  </section>
<% end %>
