
<h1 class="game-header">All Video Games</h1><br/>

<% @video_games.each do |game| %>
  <section id="video-game-<%= game.id %>">
    <h1>
      <a href="/video_games/<%= game.id %>"><%= game.name %></a>
    </h1>
    <p>ID: <%= game.id %></p>
    <p>Rating: <%= game.rating %></p>
    <p>Price: <%= game.price %></p>
    <p>Multiplayer: <%= game.multiplayer %></p>
    <p>Created at: <%= game.created_at %></p>
    <p>Updated at: <%= game.updated_at %></p>
    <%= link_to "Edit #{game.name}", "/video_games/#{game.id}/edit" %><br>
    <%= link_to "Delete #{game.name}", "/video_games/#{game.id}", method: :delete %>
  </section><br/>
<% end %>

<footer>
  <a href="/video_games/">Video Game Index</a><br/>
  <a href="/game_shops/">Game Shop Index</a><br/>
</footer>
