<a href="/video_games/">Video Game Index</a>
<h1><%= @video_game.name %></h1>
<p>ID: <%= @video_game.id %></p>
<p>Rating: <%= @video_game.rating %></p>
<p>Price: <%= @video_game.price %></p>
<p>Multiplayer: <%= @video_game.multiplayer %></p>
<p>Created at: <%= @video_game.created_at %></p>
<p>Updated at: <%= @video_game.updated_at %></p>
