<a href="/video_games/">Video Game Index</a>
<a href="/game_shops/">Game Shop Index</a>

<h1 class="game-header">Games from shop # <%= params[:id] %></h1><br/>

<% @video_games.each do |game| %>
  <section id="video-game-<%= game.id %>">
    <h2>
      <a href="/video_games/<%= game.id %>"><%= game.name %></a>
    </h2>
    <p>ID: <%= game.id %>
    <p>Rating: <%= game.rating %></p>
    <p>Price: <%= game.price %></p>
    <p>Multiplayer: <%= game.multiplayer %></p>
    <p>Created at: <%= game.created_at %></p>
    <p>Updated at: <%= game.updated_at %></p>
  </section><br/>
<% end %>
