<h1>All Game Shops</h1><br/>

<% @game_shops.each do |shop| %>
  <section id="game-shop-<%= shop.id %>">
    <p>
      <a href="/game_shops/<%= shop.id %>"><%= shop.name %></a>
    </p>
    <p>Created: <%= shop.created_at %></p>
    <%= link_to "Edit #{shop.name}", "/game_shops/#{shop.id}/edit" %><br>
    <%= link_to "Delete #{shop.name}", "/game_shops/#{shop.id}", method: :delete %>
  </section><br/>
<% end %>
<footer>
  <a href="/video_games/">Video Game Index</a><br/>
  <a href="/game_shops/">Game Shop Index</a><br/>
  <%= link_to "New Game Shop", '/game_shops/new' %>
</footer>
