<a href='/game_shops'>Back to all shops</a>

<h1><%= @shop.name %></h1>
<h2>ID: <%= @shop.id %></h2><br/>

<p>Stock limit: <%= @shop.stock_limit %></p>
<p>Overstocked: <%= @shop.overstocked %></p>
<p>Created at: <%= @shop.created_at %></p>
<p>Updated at: <%= @shop.updated_at %></p>
