<a href="/video_games/">Video Game Index</a>
<a href="/game_shops/">Game Shop Index</a>
<a href="/game_shops/<%= @shop.id %>/video_games">
  Games sold by <%= @shop.name %>
</a>
<h1><%= @shop.name %></h1>
<h2>ID: <%= @shop.id %></h2><br/>

<p>Stock limit: <%= @shop.stock_limit %></p>
<p>Does repairs: <%= @shop.does_repairs %></p>
<p>Created at: <%= @shop.created_at %></p>
<p>Updated at: <%= @shop.updated_at %></p>
<p>Games sold: <%= @shop.total_games_in_stock %> </p>
