<h1 class="game-header"><%= @shop.name %></h1><br/>
<section>
  <h2>ID: <%= @shop.id %></h2><br/>

  <p>Stock limit: <%= @shop.stock_limit %></p>
  <p>Does repairs: <%= @shop.does_repairs %></p>
  <p>Created at: <%= @shop.created_at %></p>
  <p>Updated at: <%= @shop.updated_at %></p>
  <p>Games in stock: <%= @shop.total_games_in_stock %> </p>
  <%= link_to "Edit #{@shop.name}", "/game_shops/#{@shop.id}/edit" %><br>
  <%= link_to "Delete #{@shop.name}", "/game_shops/#{@shop.id}", method: :delete %>
  <a href="/game_shops/<%= @shop.id %>/video_games">
    Games sold by <%= @shop.name %>
  </a>
</section>

<a href="/video_games/">Video Game Index</a><br>
<a href="/game_shops/">Game Shop Index</a>
